.profile-card {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  border-radius: 30px;
  padding: 30px 20px;
  width: 100%;
  height: 100%;
  /* display: flex;
  flex-direction: column; */
  font-family: 'Roboto';
}

.profile-container {
  height: 250px;
  width: 100%;
  max-width: 400px;
}

.profile-pic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.profile-name {
  color: #6163ee;
  font-weight: 600;
  font-size: 30px;
}

.bio {
  font-size: 15px;
  font-weight: 500;
}
